.particlesymbol {
    font-size: 50px;
    text-align: center;
    margin: 40px 0px;
}

.particleproperties {
    margin: 40px auto;
    border-collapse: collapse;
}

.particleproperties tr {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.particleproperties th, .particleproperties td {
    padding: 10px 10px;
    width: 50%;
}

.particleproperties th {
    text-align: left;
    font-weight: normal;
}

.particleproperties td {
    text-align: left;
}

.confirmed, .hypothetical {
    display: inline-block;
    padding: 2px 7px;
    border-radius: 2px;
    color: white;
    font-weight: normal;
    text-transform: uppercase;
}

.confirmed {
    background-color: hsl(90, 70%, 50%);
    background: linear-gradient(140deg, hsl(90, 70%, 50%), hsl(90, 70%, 45%));
}

.hypothetical {
    background-color: hsl(30, 70%, 50%);
    background: linear-gradient(140deg, hsl(30, 90%, 50%), hsl(30, 90%, 45%));
}

@media (min-width: 400px) {
    .particlesymbol {
        font-size: 70px;
    }
    .particleproperties th {
        text-align: right;
    }
}

@media (min-width: 700px) {
    .particlesymbol {
        font-size: 70px;
        margin: 70px 0px;
    }
    .particleproperties th, .particleproperties td {
        padding: 10px 20px;
    }
}

@media (min-width: 1000px) {}

@media (min-width: 1400px) {}