body {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    font-size: 17px;
    color: #202020;
}


.mainpage {
    padding: 70px;
}

.centrecolumn {
    max-width: 1000px;
    margin: 0px auto;
}


.relatedwebsites {
    padding: 20px 20px 40px 20px;
    background-color: #F4F4F4;
    color: #000000;
}

h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: inherit;
}

h1 {
    text-transform: uppercase;
    font-size: 22px;
    text-align: center;
    margin: 0px;
}

.particlename{
    font-size: 55px;
    text-align: center;
    margin: 70px 0px;
}

.mainpage h3 {
    font-size: 27px;
}

a {
    color: #105ecc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.particlesymbol {
    text-align: center;
    font-size: 70px;
    margin: 70px 0px;
}

.particleproperties {
    margin: 20px auto;
    border-collapse: collapse;
}

.particleproperties tr {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.particleproperties th, .particleproperties td {
    padding: 10px 20px;
}

.particleproperties th {
    text-align: right;
    font-weight: normal;
}

.particleproperties td {
    text-align: left;
}


   .particle{
              border:1px solid rgba(0,0,0, 0.1);
                    border-radius: 1px;
                       font-family: "Bodoni MT", Didot, serif;
                   padding: 20px;}


                             .particle-name{
                                    display: block;
                                      font-size: 2em;
                                        text-align: center;
                             }