body {
    margin: 0px;
    padding: 0px 0px 400px 0px;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    font-size: 14px;
    color: #202020;
}

.mainpage {
    padding: 20px;
}

.centrecolumn {
    max-width: 1000px;
    margin: 0px auto;
}

.innercolumn {
    max-width: 700px;
    margin: 0px auto;
}

@media (min-width: 400px) {
    .mainpage {
        padding: 40px;
    }
}

@media (min-width: 700px) {
    .mainpage {
        padding: 70px;
    }
}

@media (min-width: 1000px) {
    body {
        font-size: 17px;
    }
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
    font-family: inherit;
    font-weight: inherit;
}

h1 {
    text-transform: uppercase;
    font-size: 17px;
    text-align: center;
}

h2 {
    font-size: 27px;
    text-align: center;
}

h3 {
    font-size: 20px;
}

h1, h2, h3, p, ul {
    margin: 20px 0px;
}

a {
    color: #105ecc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

@media (min-width: 400px) {
    h1 {
        font-size: 22px;
    }
    h2 {
        font-size: 40px;
    }
    h3 {
        font-size: 27px;
    }
    h3, p, ul {
        margin: 27px 0px;
    }
}

@media (min-width: 700px) {
    h2 {
        margin: 40px 0px;
    }
}

@media (min-width: 1000px) {}

@media (min-width: 1400px) {}