body {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    font-size: 14px;
    color: #202020;
}

.mainpage {
    padding: 20px;
}

.centrecolumn {
    max-width: 1000px;
    margin: 0px auto;
}

.innercolumn {
    max-width: 700px;
    margin: 0px auto;
}

.relatedwebsites {
    padding: 20px;
    background-color: #F4F4F4;
    color: #000000;
}

@media (min-width: 400px) {
    .mainpage {
        padding: 40px;
    }
    .relatedwebsites {
        padding: 40px;
    }
}

@media (min-width: 700px) {
    .mainpage {
        padding: 70px;
    }
    .relatedwebsites {
        padding: 70px;
    }
}

@media (min-width: 1000px) {
    body {
        font-size: 17px;
    }
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
    font-family: inherit;
    font-weight: inherit;
}

h1 {
    text-transform: uppercase;
    font-size: 17px;
    text-align: center;
}

h2 {
    font-size: 27px;
    text-align: center;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 17px;
}

h1, h2, h3, p, ul {
    margin: 20px 0px;
}

a {
    color: #105ecc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

@media (min-width: 400px) {
    h1 {
        font-size: 22px;
    }
    h2 {
        font-size: 40px;
    }
    h3 {
        font-size: 27px;
    }
    h4 {
        font-size: 20px;
    }
    h3, p, ul {
        margin: 27px 0px;
    }
}

@media (min-width: 700px) {
    h2 {
        margin: 40px 0px;
    }
}

@media (min-width: 1000px) {}

@media (min-width: 1400px) {}

.relatedwebsites h3 {
    margin: 0px 0px 20px 0px;
}

.relatedwebsites h4 {
    font-weight: normal;
    text-align: center;
    margin: 0px;
}

.relatedwebsites p {
    font-size: 14px;
    margin: 17px 0px;
    text-align: left;
}

@media (min-width:400px) {
    .relatedwebsites h3 {
        margin: 0px 0px 40px 0px;
    }
    .relatedwebsites p {
        font-size: 17px;
        margin: 22px 0px;
        text-align: justify;
    }
}

@media (min-width:700px) {}

.website-cards {
    display: flex;
    flex-direction: column;
}

.website-card {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 1px;
    margin: 0px 0px 20px 0px;
    padding: 22px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}

.website-card h3 {
    font-weight: normal;
    text-align: center;
    margin: 0px;
}

.website-card p {
    font-size: 12px;
    margin: 20px 0px 0px 0px;
    text-align: justify;
}

@media (min-width:400px) {
    .website-card {
        padding: 27px;
    }
    .website-card p {
        font-size: 14px;
    }
}

@media (min-width:700px) {
    .website-card {
        margin: 0px 20px 20px 0px;
    }
    .website-cards {
        display: flex;
        flex-direction: row;
    }
    .website-card {
        flex-basis: 33%;
    }
}