.particletable {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px;
    width: 100%;
    margin: 20px auto;
    grid-column-gap: 2px;
    grid-row-gap: 2px;
    user-select: none;
}

@media (min-width: 700px) {
    .particletable {
        grid-template-columns: 150px 150px 150px;
        grid-template-rows: 150px 150px 150px 150px 150px 150px 150px 150px 150px 150px 150px;
        margin: 40px auto;
    }
}

@media (min-width: 1000px) {
    .particletable {
        grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px 100px;
        grid-template-rows: 40px 40px 100px 100px 100px 20px 100px 100px 100px 100px 40px 40px 100px 100px 100px 20px 100px 100px 100px 100px 20px 100px 100px 100px 100px 100px;
    }
}

@media (min-width: 1400px) {
    .particletable {
        grid-template-columns: 150px 150px 150px 150px 150px 150px 150px 150px 150px;
        grid-template-rows: 40px 40px 150px 150px 150px 20px 150px 150px 150px 150px 40px 40px 150px 150px 150px 20px 150px 150px 150px 150px 20px 150px 150px 150px 150px 150px;
        grid-column-gap: 2px;
        grid-row-gap: 2px;
    }
}

.table-header {
    text-align: center;
    font-size: 12px;
    padding: 12px;
    cursor: default;
    text-transform: uppercase;
    font-weight: normal;
    display: none;
}

.table-fermion, .table-wplusboson, .table-wminusboson, .table-zboson, .table-photon, .table-gluon, .table-higgsboson, .table-axion, .table-graviton, .table-superquark, .table-superlepton, .table-photino, .table-gluino, .table-gravitino, .table-higgsbosino, .table-axino {
    height: 100px;
}

@media (min-width: 700px) {
    .table-fermion, .table-wplusboson, .table-wminusboson, .table-zboson, .table-photon, .table-gluon, .table-higgsboson, .table-axion, .table-graviton, .table-superquark, .table-superlepton, .table-photino, .table-gluino, .table-gravitino, .table-higgsbosino, .table-axino {
        height: 150px;
    }
}

@media (min-width: 1000px) {
    .table-header {
        display: block;
    }
    .table-leptonsheader {
        grid-column: 2 / span 4;
        grid-row: 1 / span 1;
    }
    .table-chargedleptonsheader {
        grid-column: 2 / span 2;
        grid-row: 2 / span 1;
    }
    .table-neutralleptonsheader {
        grid-column: 4 / span 2;
        grid-row: 2 / span 1;
    }
    .table-quarksheader {
        grid-column: 6 / span 4;
        grid-row: 1 / span 2;
    }
    .table-firstgenerationheader {
        grid-column: 1 / span 1;
        grid-row: 3 / span 1;
    }
    .table-secondgenerationheader {
        grid-column: 1 / span 1;
        grid-row: 4 / span 1;
    }
    .table-thirdgenerationheader {
        grid-column: 1 / span 1;
        grid-row: 5 / span 1;
    }
    .table-vectorbosonsheader {
        grid-column: 1 / span 1;
        grid-row: 7 / span 2;
    }
    .table-scalarbosonsheader {
        grid-column: 1 / span 1;
        grid-row: 9 / span 2;
    }
    .table-superleptonsheader {
        grid-column: 2 / span 4;
        grid-row: 11 / span 1;
    }
    .table-chargedsuperleptonsheader {
        grid-column: 2 / span 2;
        grid-row: 12 / span 1;
    }
    .table-neutralsuperleptonsheader {
        grid-column: 4 / span 2;
        grid-row: 12 / span 1;
    }
    .table-superquarksheader {
        grid-column: 6 / span 4;
        grid-row: 11 / span 2;
    }
    .table-firstgeneration2header {
        grid-column: 1 / span 1;
        grid-row: 13 / span 1;
    }
    .table-secondgeneration2header {
        grid-column: 1 / span 1;
        grid-row: 14 / span 1;
    }
    .table-thirdgeneration2header {
        grid-column: 1 / span 1;
        grid-row: 15 / span 1;
    }
    .table-bosinosheader {
        grid-column: 1 / span 1;
        grid-row: 17 / span 4;
    }
    .table-fermion, .table-superfermion, .table-wplusboson, .table-wminusboson, .table-zboson {
        height: 100px;
    }
    .table-photon, .table-gluon, .table-graviton, .table-higgsboson, .table-axion, .table-photino, .table-gluino, .table-gravitino, .table-higgsbosino, .table-axino {
        height: 202px;
    }
}

@media (min-width: 1400px) {
    .table-fermion, .table-superfermion, .table-wplusboson, .table-wminusboson, .table-zboson {
        height: 150px;
    }
    .table-photon, .table-gluon, .table-graviton, .table-higgsboson, .table-axion, .table-photino, .table-gluino, .table-gravitino, .table-higgsbosino, .table-axino {
        height: 302px;
    }
}

.table-photon {
    grid-column: 1 / span 1;
    grid-row: 9 / span 1;
}

.table-wplusboson {
    grid-column: 2 / span 1;
    grid-row: 9 / span 1;
}

.table-wminusboson {
    grid-column: 3 / span 1;
    grid-row: 9 / span 1;
}

.table-zboson {
    grid-column: 2 / span 2;
    grid-row: 10 / span 1;
}

.table-gluon {
    grid-column: 1 / span 1;
    grid-row: 11 / span 1;
}

.table-higgsboson {
    grid-column: 2 / span 2;
    grid-row: 11 / span 1;
}

.table-electron, .table-muon, .table-tauon {
    grid-row: 1 / span 1;
}

.table-positron, .table-antimuon, .table-antitauon {
    grid-row: 2 / span 1;
}

.table-electronneutrino, .table-muonneutrino, .table-tauonneutrino {
    grid-row: 3 / span 1;
}

.table-electronantineutrino, .table-muonantineutrino, .table-tauonantineutrino {
    grid-row: 4 / span 1;
}

.table-upquark, .table-charmquark, .table-topquark {
    grid-row: 5 / span 1;
}

.table-upantiquark, .table-charmantiquark, .table-topantiquark {
    grid-row: 6 / span 1;
}

.table-downquark, .table-strangequark, .table-bottomquark {
    grid-row: 7 / span 1;
}

.table-downantiquark, .table-strangeantiquark, .table-bottomantiquark {
    grid-row: 8 / span 1;
}

.table-generation1 {
    grid-column: 1 / span 1;
}

.table-generation2 {
    grid-column: 2 / span 1;
}

.table-generation3 {
    grid-column: 3 / span 1;
}

.table-graviton, .table-axion, .table-superpartner, .table-composite {
    display: none;
}

@media (min-width: 1000px) {
    .table-graviton, .table-axion, .table-superpartner, .table-composite {
        display: block;
    }
    .table-photon {
        grid-column: 2 / span 2;
        grid-row: 7 / span 2;
    }
    .table-wplusboson {
        grid-column: 4 / span 1;
        grid-row: 7 / span 1;
    }
    .table-wminusboson {
        grid-column: 5 / span 1;
        grid-row: 7 / span 1;
    }
    .table-zboson {
        grid-column: 4 / span 2;
        grid-row: 8 / span 1;
    }
    .table-gluon {
        grid-column: 6 / span 2;
        grid-row: 7 / span 2;
    }
    .table-graviton {
        grid-column: 8 / span 2;
        grid-row: 7 / span 2;
    }
    .table-higgsboson {
        grid-column: 2 / span 2;
        grid-row: 9 / span 2;
    }
    .table-axion {
        grid-column: 4 / span 2;
        grid-row: 9 / span 2;
    }
    .table-photino {
        grid-column: 2 / span 2;
        grid-row: 17 / span 2;
    }
    .table-gluino {
        grid-column: 6 / span 2;
        grid-row: 17 / span 2;
    }
    .table-gravitino {
        grid-column: 8 / span 2;
        grid-row: 17 / span 2;
    }
    .table-higgsbosino {
        grid-column: 2 / span 2;
        grid-row: 19 / span 2;
    }
    .table-axino {
        grid-column: 4 / span 2;
        grid-row: 19 / span 2;
    }
    .table-electron, .table-muon, .table-tauon, .table-superelectron, .table-supermuon, .table-supertauon {
        grid-column: 2 / span 1;
    }
    .table-positron, .table-antimuon, .table-antitauon, .table-superpositron, .table-antisupermuon, .table-antisupertauon {
        grid-column: 3 / span 1;
    }
    .table-electronneutrino, .table-muonneutrino, .table-tauonneutrino, .table-electronsuperneutrino, .table-muonsuperneutrino, .table-tauonsuperneutrino {
        grid-column: 4 / span 1;
    }
    .table-electronantineutrino, .table-muonantineutrino, .table-tauonantineutrino, .table-electronantisuperneutrino, .table-muonantisuperneutrino, .table-tauonantisuperneutrino {
        grid-column: 5 / span 1;
    }
    .table-upquark, .table-charmquark, .table-topquark, .table-upsuperquark, .table-charmsuperquark, .table-topsuperquark {
        grid-column: 6 / span 1;
    }
    .table-upantiquark, .table-charmantiquark, .table-topantiquark, .table-upantisuperquark, .table-charmantisuperquark, .table-topantisuperquark {
        grid-column: 7 / span 1;
    }
    .table-downquark, .table-strangequark, .table-bottomquark, .table-downsuperquark, .table-strangesuperquark, .table-bottomsuperquark {
        grid-column: 8 / span 1;
    }
    .table-downantiquark, .table-strangeantiquark, .table-bottomantiquark, .table-downantisuperquark, .table-strangeantisuperquark, .table-bottomantisuperquark {
        grid-column: 9 / span 1;
    }
    .table-generation1 {
        grid-row: 3 / span 1;
    }
    .table-generation2 {
        grid-row: 4 / span 1;
    }
    .table-generation3 {
        grid-row: 5 / span 1;
    }
    .table-generation1s {
        grid-row: 13 / span 1;
    }
    .table-generation2s {
        grid-row: 14 / span 1;
    }
    .table-generation3s {
        grid-row: 15 / span 1;
    }
    .table-proton {
        grid-column: 4 / span 1;
        grid-row: 22 / span 1;
    }
    .table-antiproton {
        grid-column: 5 / span 1;
        grid-row: 22 / span 1;
    }
    .table-neutron {
        grid-column: 6 / span 1;
        grid-row: 22 / span 1;
    }
    .table-antineutron {
        grid-column: 7 / span 1;
        grid-row: 22 / span 1;
    }
    .table-deltabaryon_uuu {
        grid-column: 2 / span 1;
        grid-row: 23 / span 1;
    }
    .table-deltaantibaryon_uuu {
        grid-column: 3 / span 1;
        grid-row: 23 / span 1;
    }
    .table-deltabaryon_uud {
        grid-column: 4 / span 1;
        grid-row: 23 / span 1;
    }
    .table-deltaantibaryon_uud {
        grid-column: 5 / span 1;
        grid-row: 23 / span 1;
    }
    .table-deltabaryon_udd {
        grid-column: 6 / span 1;
        grid-row: 23 / span 1;
    }
    .table-deltaantibaryon_udd {
        grid-column: 7 / span 1;
        grid-row: 23 / span 1;
    }
    .table-deltabaryon_ddd {
        grid-column: 8 / span 1;
        grid-row: 23 / span 1;
    }
    .table-deltaantibaryon_ddd {
        grid-column: 9 / span 1;
        grid-row: 23 / span 1;
    }
    .table-lambdabaryon_uds {
        grid-column: 6 / span 1;
        grid-row: 24 / span 1;
    }
    .table-lambdaantibaryon_uds {
        grid-column: 7 / span 1;
        grid-row: 24 / span 1;
    }
    .table-lambdabaryon_udc {
        grid-column: 4 / span 1;
        grid-row: 24 / span 1;
    }
    .table-lambdaantibaryon_udc {
        grid-column: 5 / span 1;
        grid-row: 24 / span 1;
    }
    .table-lambdabaryon_udb {
        grid-column: 6 / span 1;
        grid-row: 25 / span 1;
    }
    .table-lambdaantibaryon_udb {
        grid-column: 7 / span 1;
        grid-row: 25 / span 1;
    }
    .table-lambdabaryon_udt {
        grid-column: 4 / span 1;
        grid-row: 25 / span 1;
    }
    .table-lambdaantibaryon_udt {
        grid-column: 5 / span 1;
        grid-row: 25 / span 1;
    }
    .table-sigmabaryon_uus {
        grid-column: 4 / span 1;
        grid-row: 26 / span 1;
    }
    .table-sigmaantibaryon_uus {
        grid-column: 5 / span 1;
        grid-row: 26 / span 1;
    }
    .table-sigmabaryon_uds {
        grid-column: 6 / span 1;
        grid-row: 26 / span 1;
    }
    .table-sigmaantibaryon_uds {
        grid-column: 7 / span 1;
        grid-row: 26 / span 1;
    }
    .table-sigmabaryon_dds {
        grid-column: 8 / span 1;
        grid-row: 26 / span 1;
    }
    .table-sigmaantibaryon_dds {
        grid-column: 9 / span 1;
        grid-row: 26 / span 1;
    }
    .table-sigmabaryon_uuc {
        grid-column: 2 / span 1;
        grid-row: 27 / span 1;
    }
    .table-sigmaantibaryon_uuc {
        grid-column: 3 / span 1;
        grid-row: 27 / span 1;
    }
    .table-sigmabaryon_udc {
        grid-column: 4 / span 1;
        grid-row: 27 / span 1;
    }
    .table-sigmaantibaryon_udc {
        grid-column: 5 / span 1;
        grid-row: 27 / span 1;
    }
    .table-sigmabaryon_ddc {
        grid-column: 6 / span 1;
        grid-row: 27 / span 1;
    }
    .table-sigmaantibaryon_ddc {
        grid-column: 7 / span 1;
        grid-row: 27 / span 1;
    }
    .table-sigmabaryon_uub {
        grid-column: 4 / span 1;
        grid-row: 28 / span 1;
    }
    .table-sigmaantibaryon_uub {
        grid-column: 5 / span 1;
        grid-row: 28 / span 1;
    }
    .table-sigmabaryon_udb {
        grid-column: 6 / span 1;
        grid-row: 28 / span 1;
    }
    .table-sigmaantibaryon_udb {
        grid-column: 7 / span 1;
        grid-row: 28 / span 1;
    }
    .table-sigmabaryon_ddb {
        grid-column: 8 / span 1;
        grid-row: 28 / span 1;
    }
    .table-sigmaantibaryon_ddb {
        grid-column: 9 / span 1;
        grid-row: 28 / span 1;
    }


    
    .table-xibaryon_uss {
        grid-column: 6 / span 1;
        grid-row: 29 / span 1;
    }
    .table-xiantibaryon_uss {
        grid-column: 7 / span 1;
        grid-row: 29 / span 1;
    }
    .table-xibaryon_dss {
        grid-column: 8 / span 1;
        grid-row: 29 / span 1;
    }
    .table-xiantibaryon_dss {
        grid-column: 9 / span 1;
        grid-row: 29 / span 1;
    }


    
    .table-xibaryon_usc {
        grid-column: 4 / span 1;
        grid-row: 30 / span 1;
    }
    .table-xiantibaryon_usc {
        grid-column: 5 / span 1;
        grid-row: 30 / span 1;
    }
    .table-xibaryon_dsc {
        grid-column: 6 / span 1;
        grid-row: 30 / span 1;
    }
    .table-xiantibaryon_dsc {
        grid-column: 7 / span 1;
        grid-row: 30 / span 1;
    }


    
    .table-xibaryon_ucc {
        grid-column: 2 / span 1;
        grid-row: 31 / span 1;
    }
    .table-xiantibaryon_ucc {
        grid-column: 3 / span 1;
        grid-row: 31 / span 1;
    }
    .table-xibaryon_dcc {
        grid-column: 4 / span 1;
        grid-row: 31 / span 1;
    }
    .table-xiantibaryon_dcc {
        grid-column: 5 / span 1;
        grid-row: 31 / span 1;
    }


    
    .table-xibaryon_usb {
        grid-column: 6 / span 1;
        grid-row: 32 / span 1;
    }
    .table-xiantibaryon_usb {
        grid-column: 7 / span 1;
        grid-row: 32 / span 1;
    }
    .table-xibaryon_dsb {
        grid-column: 8 / span 1;
        grid-row: 32 / span 1;
    }
    .table-xiantibaryon_dsb {
        grid-column: 9 / span 1;
        grid-row: 32 / span 1;
    }


    
    .table-xibaryon_ubb {
        grid-column: 6 / span 1;
        grid-row: 33 / span 1;
    }
    .table-xiantibaryon_ubb {
        grid-column: 7 / span 1;
        grid-row: 33 / span 1;
    }
    .table-xibaryon_dbb {
        grid-column: 8 / span 1;
        grid-row: 33 / span 1;
    }
    .table-xiantibaryon_dbb {
        grid-column: 9 / span 1;
        grid-row: 33 / span 1;
    }


    
    .table-xibaryon_ucb {
        grid-column: 4 / span 1;
        grid-row: 34 / span 1;
    }
    .table-xiantibaryon_ucb {
        grid-column: 5 / span 1;
        grid-row: 34 / span 1;
    }
    .table-xibaryon_dcb {
        grid-column: 6 / span 1;
        grid-row: 34 / span 1;
    }
    .table-xiantibaryon_dcb {
        grid-column: 7 / span 1;
        grid-row: 34 / span 1;
    }
}

.particle {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 1px;
    padding: 10px;
    cursor: pointer;
    font-weight: normal;
    font-size: 12px;
}

.particle-mass, .particle-relativecharge, .particle-spin {
    position: absolute;
    font-size: 1em;
}

.particle-mass {
    left: 0.7em;
    top: 0.4em;
}

.particle-relativecharge {
    left: 0.7em;
    bottom: 0.4em;
}

.particle-spin {
    right: 0.7em;
    bottom: 0.4em;
}

.particle-symbol {
    display: block;
    position: absolute;
    left: 0em;
    top: 1.4em;
    box-sizing: border-box;
    width: 100%;
    font-size: 2em;
    text-align: center;
}

.particle-name {
    display: none;
    position: absolute;
    left: 0em;
    top: 8.25em;
    box-sizing: border-box;
    width: 100%;
    font-size: 0.7em;
    text-align: center;
}

@media (min-width: 700px) {
    .particle {
        padding: 20px;
        font-size: 17px;
    }
    .particle-mass, .particle-relativecharge, .particle-spin {
        font-size: 0.9em;
    }
    .particle-name {
        display: block;
    }
}

@media (min-width: 1000px) {
    .particle {
        padding: 10px;
        font-size: 12px;
    }
    .particle-mass, .particle-relativecharge, .particle-spin {
        font-size: 1em;
    }
    .particle-name {
        display: none;
    }
}

@media (min-width: 1400px) {
    .particle {
        padding: 20px;
        font-size: 17px;
    }
    .particle-mass, .particle-relativecharge, .particle-spin {
        font-size: 0.9em;
    }
    .particle-name {
        display: block;
    }
    .table-header {
        padding: 12px;
    }
}