.particletable {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px 100px;
    grid-template-rows: 40px 40px 100px 100px 100px 20px 100px 100px 100px 100px;
    width: 100%;
    margin: 40px auto;
    grid-column-gap: 2px;
    grid-row-gap: 2px;
}

@media (min-width: 400px) {}

@media (min-width: 700px) {
    .particletable {
        grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px 100px;
        grid-template-rows: 40px 40px 100px 100px 100px 20px 100px 100px 100px 100px;
    }
}

@media (min-width: 1000px) {}

@media (min-width: 1400px) {
    .particletable {
        grid-template-columns: 150px 150px 150px 150px 150px 150px 150px 150px 150px;
        grid-template-rows: 40px 40px 150px 150px 150px 20px 150px 150px 150px 150px;
        grid-column-gap: 4px;
        grid-row-gap: 4px;
    }
}

.table-header {
    text-align: center;
    font-size: 12px;
    padding: 12px;
    cursor: pointer;
    user-select: none;
}

.table-leptonsheader {
    grid-column: 2 / span 4;
    grid-row: 1 / span 1;
}

.table-chargedleptonsheader {
    grid-column: 2 / span 2;
    grid-row: 2 / span 1;
}

.table-neutralleptonsheader {
    grid-column: 4 / span 2;
    grid-row: 2 / span 1;
}

.table-quarksheader {
    grid-column: 6 / span 4;
    grid-row: 1 / span 2;
}

.table-firstgenerationheader {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
}

.table-secondgenerationheader {
    grid-column: 1 / span 1;
    grid-row: 4 / span 1;
}

.table-thirdgenerationheader {
    grid-column: 1 / span 1;
    grid-row: 5 / span 1;
}

.table-vectorbosonsheader {
    grid-column: 1 / span 1;
    grid-row: 7 / span 2;
}

.table-scalarbosonsheader {
    grid-column: 1 / span 1;
    grid-row: 9 / span 2;
}

.table-fermion {
    height: 100px;
}

.table-wplusboson, .table-wminusboson, .table-zboson {
    height: 100px;
}

.table-photon, .table-gluon, .table-higgsboson, .table-graviton {
    height: 202px;
}

@media (min-width: 400px) {}

@media (min-width: 700px) {}

@media (min-width: 1000px) {}

@media (min-width: 1400px) {
    .table-fermion {
        height: 150px;
    }
    .table-wplusboson, .table-wminusboson, .table-zboson {
        height: 150px;
    }
    .table-photon, .table-gluon, .table-higgsboson, .table-graviton {
        height: 304px;
    }
}

.table-photon {
    grid-column: 2 / span 2;
    grid-row: 7 / span 2;
}

.table-wplusboson {
    grid-column: 4 / span 1;
    grid-row: 7 / span 1;
}

.table-wminusboson {
    grid-column: 5 / span 1;
    grid-row: 7 / span 1;
}

.table-zboson {
    grid-column: 4 / span 2;
    grid-row: 8 / span 1;
}

.table-gluon {
    grid-column: 6 / span 2;
    grid-row: 7 / span 2;
}

.table-graviton {
    grid-column: 8 / span 2;
    grid-row: 7 / span 2;
}

.table-higgsboson {
    grid-column: 2 / span 2;
    grid-row: 9 / span 2;
}

.table-electron, .table-muon, .table-tauon {
    grid-column: 2 / span 1;
}

.table-positron, .table-antimuon, .table-antitauon {
    grid-column: 3 / span 1;
}

.table-electronneutrino, .table-muonneutrino, .table-tauonneutrino {
    grid-column: 4 / span 1;
}

.table-electronantineutrino, .table-muonantineutrino, .table-tauonantineutrino {
    grid-column: 5 / span 1;
}

.table-upquark, .table-charmquark, .table-topquark {
    grid-column: 6 / span 1;
}

.table-upantiquark, .table-charmantiquark, .table-topantiquark {
    grid-column: 7 / span 1;
}

.table-downquark, .table-strangequark, .table-bottomquark {
    grid-column: 8 / span 1;
}

.table-downantiquark, .table-strangeantiquark, .table-bottomantiquark {
    grid-column: 9 / span 1;
}

.table-electron, .table-positron, .table-electronneutrino, .table-electronantineutrino, .table-upquark, .table-upantiquark, .table-downquark, .table-downantiquark {
    grid-row: 3 / span 1;
}

.table-muon, .table-antimuon, .table-muonneutrino, .table-muonantineutrino, .table-charmquark, .table-charmantiquark, .table-strangequark, .table-strangeantiquark {
    grid-row: 4 / span 1;
}

.table-tauon, .table-antitauon, .table-tauonneutrino, .table-tauonantineutrino, .table-topquark, .table-topantiquark, .table-bottomquark, .table-bottomantiquark {
    grid-row: 5 / span 1;
}

.particle {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    padding: 20px;
    user-select: none;
    cursor: pointer;
}

.particle-mass, .particle-relativecharge, .particle-spin {
    position: absolute;
    font-size: 1em;
}

.particle-mass {
    left: 12px;
    top: 10px;
}

.particle-relativecharge {
    left: 12px;
    bottom: 10px;
}

.particle-spin {
    right: 12px;
    bottom: 10px;
}

.particle-symbol {
    display: block;
    position: absolute;
    left: 0px;
    top: 40px;
    box-sizing: border-box;
    width: 100%;
    font-size: 2em;
    text-align: center;
}

.particle-name {
    display: none;
    position: absolute;
    left: 0px;
    top: 90px;
    box-sizing: border-box;
    width: 100%;
    font-size: 0.7em;
    text-align: center;
}

@media (min-width: 400px) {}

@media (min-width: 700px) {
    .particle-mass {
        left: 10px;
        top: 8px;
        font-size: 0.7em;
    }
    .particle-relativecharge {
        left: 10px;
        bottom: 8px;
        font-size: 0.7em;
    }
    .particle-spin {
        right: 10px;
        bottom: 8px;
        font-size: 0.7em;
    }
    .particle-symbol {
        top: 33px;
        font-size: 1.5em;
    }
}

@media (min-width: 1000px) {
    .particle-symbol {
        top: 33px;
        font-size: 1.5em;
    }
}

@media (min-width: 1400px) {
    .particle-symbol {
        top: 50px;
        font-size: 1.5em;
    }
    .particle-mass {
        left: 12px;
        top: 10px;
        font-size: 1em;
    }
    .particle-relativecharge {
        left: 12px;
        bottom: 10px;
        font-size: 1em;
    }
    .particle-spin {
        right: 12px;
        bottom: 10px;
        font-size: 1em;
    }
    .particle-name {
        display: block;
    }
    .table-header {
        font-size: 1em;
        padding: 12px;
    }
}